name: 'AoP-demo-test'
on: # rebuild any PRs and main branch changes
  workflow_dispatch:

jobs:
  test: # make sure the action works on a clean machine without building
    runs-on: [ self-hosted ]
    steps:
      - uses: actions/checkout@v2

      - name: My Awesome
        uses: actions-on-packages/demo-aop-action@1.0.6
